{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Exo+2|Ubuntu" >
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.min.css' %}">

<script type="text/javascript" src="{% static 'polls/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'polls/js/bootstrap.min.js' %}"></script>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center font-title">Registrar Usuário</h2>
    </div>
</div>

<br/>

<form action="register/" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label>Nome</label>
                <input type="name" class="form-control" name="name" placeholder="Name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label>Arduino</label>
                <input type="text" class="form-control" name="arduino" placeholder="Arduino">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <div class="form-group">
                <a class="font-register" href="/">Logar</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Registrar</button>
            </div>
        </div>
    </div>
</form>